<html>
    <head>
	<title>Foo</title>
    </head>
    <body>
	<h3>
	    <a href="{{ url_for('test') }}">Example</a>
	</h3>


	<form action="{{ request.path }}" method="post">
	    Company Symbol:<br>
	    <input type="text" name="company"><br>
	    <input type="submit" value="Submit">
	</form>


	<table>
	    <thead>
		<tr>
		    <th>Id</th>
		    <th>Date</th>
		    <th>High</th>
		    <th>Company</th>
		</tr>
	    </thead>

	    <tbody>
	    {% for row in stocks %}
		<tr>
		    <td>{{ row.id }}</td>
		    <td>{{ row.date }}</td>
		    <td>{{ row.high }}</td>
		    <td>{{ row.company }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>


    </body>
</html>
